.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.nav-link-active {
  font-weight: 600;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.navbar {
  background-color: black;
  padding: 30px 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
