.explore-container {
  padding: 0 15%;
  margin-top: 50px;
  padding-bottom: 100px;
}

.explore-title {
  font-size: 32px;
  font-weight: 700;
}
.explore-subtitle {
  margin-top: 10px;
  opacity: 0.5;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-top: 30px;
}